<%- include("template/01_header", {tituloWeb: 'Productos'}) %>

<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Imagen</th>
            <th scope="col">Producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>                
            <% if (arrayProductos.length > 0) { %>
                <% arrayProductos.forEach(prod => { %>
                    
                    <tr>
                        <th scope="row" class="align-middle"><%= prod.id %> </th>
                        <td class="align-middle"><img src="<%= prod.img %>" class="img-thumbnail productos_img"></td>
                        <td class="align-middle"><%= prod.prod %></td>
                        <td class="align-middle"><%= prod.desc %></td>
                        <td class="align-middle"><span>$</span><%= prod.precio %></td>
                        <td class="align-middle"><button type="button" class="btn btn-primary">Comprar</button></td>
                    </tr>
                
                <% }) %>
            <% } %>
        </tbody>
        </table>        
</div>

<%- include("template/03_footer") %>